<?xml version="1.0"?>
<SysConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <passwordkey>XX2B02424L</passwordkey>
  <cookiedomain />
  <onlinefrequency>2</onlinefrequency>
  <browsecreatesite>1</browsecreatesite>
  <admintitle>方配在线考试系统(FPExam)后台</admintitle>
  <adminpath>admin</adminpath>
  <verifypage />
  <customerrors />
  <onlinetimeout>200</onlinetimeout>
  <allowlog>0</allowlog>
  <attachimgmaxwidth>0</attachimgmaxwidth>
  <attachimgmaxheight>0</attachimgmaxheight>
  <attachimgquality>80</attachimgquality>
  <thumbnailwidth>0</thumbnailwidth>
  <thumbnailheight>0</thumbnailheight>
  <allowwatermark>0</allowwatermark>
  <watermarkopacity>5</watermarkopacity>
  <watermarkpic>watermark.gif</watermarkpic>
  <watermarkstatus>3</watermarkstatus>
  <taskinterval>0</taskinterval>
  <develop>0</develop>
</SysConfig>