<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>进度条插件</name>
  <author>方配</author>
  <companyurl>http://www.fangpage.com</companyurl>
  <version>1.2.1</version>
  <helpurl>demo.html</helpurl>
  <notes></notes>
</PluginConfig>