<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>日历插件</name>
  <installpath>calendar</installpath>
  <author>My97</author>
  <version>4.2</version>
  <frontpage>http://dp.my97.net/</frontpage>
  <notes>系统插件勿删</notes>
  <guid>c5409002-51ec-4d49-bc87-5b4aa8750257</guid>
  <system>0</system>
</PluginConfig>