<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>弹出层插件</name>
  <installpath>layer</installpath>
  <author>贤心</author>
  <version>1.8.4</version>
  <frontpage>http://sentsin.com/jquery/layer</frontpage>
  <notes>系统插件勿删</notes>
  <guid>09488848-e781-4530-b45c-cec0af503ca3</guid>
  <system>0</system>
</PluginConfig>