<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>SWF上传插件</name>
  <installpath>swfupload</installpath>
  <author>方配</author>
  <version>2.0</version>
  <frontpage>http://www.fangpage.com</frontpage>
  <notes>系统插件勿删</notes>
  <guid>4c2c7425-e324-499c-99c7-d4490321d289</guid>
  <system>0</system>
</PluginConfig>