<?xml version="1.0"?>
<AppInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <id>2</id>
  <name>方配在线考试系统</name>
  <installpath>exam</installpath>
  <setpath>exam</setpath>
  <author>方配</author>
  <version>3.9</version>
  <frontpage>admin/examconfig.aspx</frontpage>
  <target>_self</target>
  <notes />
  <files />
  <guid>25ba2f85-e14c-4596-afa0-3de016eedf27</guid>
  <sortapps>题目管理,exam_question,admin/questionmanage.aspx,|考试管理,exam_paper,admin/exammanage.aspx,</sortapps>
</AppInfo>