<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>方配在线考试系统</name>
  <sitepath>exam</sitepath>
  <inherits>FangPage.Exam.Controller</inherits>
  <import />
  <author>方配</author>
  <urltype>2</urltype>
  <version>3.7</version>
  <sitetitle>方配在线考试系统</sitetitle>
  <keywords>考试系统</keywords>
  <description>方配在线考试系统</description>
  <otherhead />
  <autocreate>1</autocreate>
  <closed>0</closed>
  <closedreason>站点正在升级，请稍后再访问！</closedreason>
  <ipdenyaccess />
  <ipaccess />
  <createdate>2014-07-18</createdate>
  <iscompile>1</iscompile>
  <roles />
</SiteConfig>