<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>代码编辑器</name>
  <installpath>codemirror</installpath>
  <author>codemirror</author>
  <version>4.0</version>
  <frontpage>http://codemirror.net</frontpage>
  <notes>系统插件勿删</notes>
  <guid>e522547c-f681-4c55-aee3-238a11c5b0e4</guid>
  <system>0</system>
</PluginConfig>