<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>jQuery插件</name>
  <installpath>jquery</installpath>
  <author>jQuery</author>
  <version>1.7.2</version>
  <frontpage>http://jquery.com</frontpage>
  <notes>系统插件勿删</notes>
  <guid>56a0e6f1-3978-4365-862f-4ab7b84534f0</guid>
  <system>0</system>
</PluginConfig>