<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>中国省市联动插件</name>
  <installpath>jsaddress</installpath>
  <author>方配</author>
  <version>1.0</version>
  <frontpage>http://www.fangpage.com</frontpage>
  <notes>系统插件勿删</notes>
  <guid>7765f02a-93e4-4aac-a3ca-802184fcf98e</guid>
  <system>0</system>
</PluginConfig>