<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <appSettings>
    <add key="webpath" value="/" />
    <add key="sitepath" value="exam" />
  </appSettings>
  <connectionStrings>
    <!--<add name="dbconnstring" connectionString="4l35xhbN+4tsut7S1U+BTHbIa1wPReCnzSj/n3ZFtHCyjdEiALglOcRZHUQy1jMmg+LAw0koq0M5vmm+WSu5zE+VU8swALZs" />-->
    <add name="dbconnstring" connectionString="Jyy1AGOTMj0Q/+bfHo1+FBEVCDFxeqAueBWcvSmcDo+rzDJjBFQSdGHF1tq7uTAsLjx8l/dsshPOq5/YpcMKZlFF93EVViZF" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.5" maxRequestLength="204800" executionTimeout="3600" />
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  注意：此节设置错误信息的显示
     "On" 始终显示自定义(友好的)信息。
     "Off" 始终显示详细的 ASP.NET 错误信息。
     "RemoteOnly" 只对不在本地 Web 服务器上运行的
    -->
    <customErrors defaultRedirect="plugins/error/error.htm" mode="RemoteOnly" />
    <!--  注意：此节设置站点的编码模式。-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <pages validateRequest="false" />
    <!--<httpModules>
      <add type="FangPage.WMS.HttpModule, FangPage.WMS" name="FP_HttpModule" />
    </httpModules>-->
  </system.web>
  <system.webServer>
    <modules>
      <add type="FangPage.WMS.HttpModule, FangPage.WMS" name="FP_HttpModule" />
    </modules>
  </system.webServer>
</configuration>
