<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>方配网站管理系统(WMS)</name>
  <sitepath>admin</sitepath>
  <inherits>FangPage.WMS.Admin</inherits>
  <import>FangPage.WMS.Model</import>
  <author>方配</author>
  <urltype>0</urltype>
  <version>4.5</version>
  <sitetitle>方配网站管理系统(WMS)</sitetitle>
  <keywords />
  <description />
  <otherhead />
  <autocreate>1</autocreate>
  <closed>0</closed>
  <closedreason />
  <ipdenyaccess />
  <ipaccess />
  <createdate>2014-04-27</createdate>
  <iscompile>1</iscompile>
  <roles />
</SiteConfig>