<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>错误提示插件</name>
  <installpath>error</installpath>
  <author>方配</author>
  <version>1.0</version>
  <frontpage>http://www.fangpage.com</frontpage>
  <notes>系统插件勿删</notes>
  <guid>209cb017-d289-47a6-be0a-d72c065c7664</guid>
  <system>0</system>
</PluginConfig>