<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>富文本编辑器</name>
  <installpath>editor</installpath>
  <author>kindeditor</author>
  <version>4.1.10</version>
  <frontpage>http://kindeditor.net</frontpage>
  <notes>系统插件勿删</notes>
  <guid>6bab7bf2-9341-402c-80f1-27a7978c52ef</guid>
  <system>0</system>
</PluginConfig>