<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>日期联动选择插件</name>
  <installpath>dateselector</installpath>
  <author>方配</author>
  <version>1.0</version>
  <frontpage>http://www.fangpage.com</frontpage>
  <notes>系统插件勿删</notes>
  <guid>badd75c3-79e6-42bc-a4b2-e58912466063</guid>
  <system>0</system>
</PluginConfig>