<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>树型目录插件</name>
  <installpath>ztree</installpath>
  <author>Hunter.z</author>
  <version>3.4</version>
  <frontpage>http://www.ztree.me</frontpage>
  <notes>系统插件勿删</notes>
  <guid>a8a7004c-b8c3-4273-a9da-3c2d6cfb4093</guid>
  <system>0</system>
</PluginConfig>